name: Portfolio CD

on:
  workflow_run:
    workflows: ["Portfolio CI"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to Server
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            cd /var/www/osayl-resume
            docker compose down --remove-orphans || true
            docker rm -f portfolio || true
            docker compose pull
            docker compose up -d --force-recreate
